Repository cloudlocust/authenticity-product-check: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoc, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.3.0
        hooks:
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
                exclude: ^authenticity-product-chart/
            -   id: check-added-large-files
            -   id: requirements-txt-fixer
            -   id: no-commit-to-branch
                args: ['--branch', 'master']

    -   repo: https://github.com/pre-commit/mirrors-isort
        rev: v5.10.1
        hooks:
            -   id: isort

    -   repo: https://github.com/psf/black
        rev: 22.12.0
        hooks:
            -   id: black
                language_version: python3
                args: ['-l 100']
    -   repo: local
        hooks:
            -   id: pydoc
                name: pydocstyle
                entry: pydocstyle
                language: system
                files: \.py$

    -   repo: local
        hooks:
            -   id: pylint
                name: pylint
                entry: pylint
                language: system
                files: \.py$
                exclude: (.*versions.*|.*_examples\.py$|setup.py|tests/*)
                args: ["--rcfile=.pylintrc"]

CRUD_for_product #time 1d #comment add crud prodect
  .pylintrc
  mypy.ini
  tests/.test.env
  tests/models/__init__.py
  tests/models/unit_tests.py
Due: pydoc

CRUD_for_product #time 1d #comment add mypy
  .pre-commit-config.yaml
  Jenkinsfile
  authenticity_product/models.py
  authenticity_product/services/http/config.py
  authenticity_product/services/http/entrypoint.py
  authenticity_product/services/http/strategy.py
  authenticity_product/services/http/users.py
  mypy.ini
Due: pydoc, pylint

CRUD_for_product #time 10m #comment correction Jenkins
  Jenkinsfile
Due: none

CRUD_for_product #time 10m #comment correction Jenkins
  Pipfile
  Pipfile.lock
Due: none

CRUD_for_product #time 10m #comment add pytest
  Pipfile
  Pipfile.lock
  authenticity_product/models.py
  authenticity_product/services/http/db_async.py
  authenticity_product/services/http/entrypoint.py
  authenticity_product/services/http/users.py
  tests/conftest.py
  tests/models/__init__.py
  tests/models/unit_tests.py
  tests/services/http/conftest.py
  tests/services/http/e2e_test.py
  tests/services/http/integration_test.py
  tests/services/http/unit_tests.py
Due: pydoc, pylint

CRUD_for_product #time 1d #comment add test of login
  authenticity_product/schemas.py
  authenticity_product/services/http/strategy.py
  authenticity_product/services/http/users.py
  tests/conftest.py
  tests/services/http/e2e_test.py
Due: pydoc, pylint

CRUD_for_product #time 10m #comment add correction pipfile
  Pipfile
  Pipfile.lock
Due: none

CRUD_for_product #time 10m #comment add correction test coverge
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

CRUD_for_product #time 10m #comment add correction issu soner
  authenticity_product/models.py
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

prodect #time 4h #comment crud prodect
  authenticity_product/schemas.py
  authenticity_product/services/http/entrypoint.py
  tests/conftest.py
  tests/models/__init__.py
  tests/models/test_unit.py
  tests/services/http/e2e_test.py
Due: pydoc, pylint

prodect #time 10m #comment correction mypy
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

prodect #time 10m #comment correction sonar
  authenticity_product/services/http/entrypoint.py
  sonar-project.properties
Due: pydoc, pylint

prodect #time 10m #comment correction test
  tests/services/http/e2e_test.py
Due: pydoc

prodect #time 10m #comment add almbic
  alembic/versions/38ba75909bfe_crud_product.py
  authenticity-product-chart/templates/configmap.yaml
  authenticity-product-chart/templates/deployment.yaml
  helm_values/alpha/authenticity-product.yaml
  helm_values/staging/authenticity-product.yaml
Due: pydoc

intgrate_dashbord_admin #time 10m #comment add admin dashbord
  authenticity_product/services/http/entrypoint.py
  mypy.ini
Due: pydoc, pylint

intgrate_dashbord_admin #time 10m #comment add Pipfile
  Pipfile
  Pipfile.lock
Due: none

intgrate_dashbord_admin #time 10m #comment add user
  authenticity-product-chart/templates/deployment.yaml
  authenticity_product/services/http/admin.py
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

add_login_in_admin #time 3h #comment add login admin
  authenticity-product-chart/templates/configmap.yaml
  authenticity-product-chart/templates/deployment.yaml
  authenticity_product/services/http/admin.py
  authenticity_product/services/http/entrypoint.py
  helm_values/alpha/authenticity-product.yaml
  helm_values/staging/authenticity-product.yaml
  sonar-project.properties
Due: pydoc, pylint

add_login_in_admin #time 3h #comment add login admin
  authenticity_product/services/http/admin.py
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

save
  alembic/versions/871b2625d0ea_first_commit.py
  authenticity-product-chart/templates/configmap.yaml
  authenticity-product-chart/templates/deployment.yaml
  authenticity_product/models.py
  authenticity_product/services/http/admin.py
  authenticity_product/services/http/entrypoint.py
  dev_scripts/local.env
Due: pydoc, pylint

save
  alembic/versions/871b2625d0ea_first_commit.py
  authenticity_product/models.py
  authenticity_product/services/http/admin.py
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

add_cros_mid_fastapi #time 20m #comment add crose
  authenticity_product/services/http/config.py
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

add_cros_mid_fastapi #time 10m #comment correction sonar
  sonar-project.properties
Due: none

khaldi_add_pagination -m 20m #comment add pagination
  Pipfile
  Pipfile.lock
  authenticity_product/services/http/config.py
Due: pydoc, pylint

add_articlis #time 10m #comment add articles
  alembic/versions/5584a9c1fedc_add_articles.py
  authenticity_product/models.py
  authenticity_product/services/http/admin.py
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

update model
  authenticity_product/models.py
Due: pydoc, pylint

init unitr
  authenticity_product/schemas.py
  authenticity_product/services/http/entrypoint.py
  authenticity_product/services/http/entrypoint_unites.py
Due: pydoc, pylint

init unitr
  authenticity_product/models.py
Due: pydoc, pylint

init
  authenticity_product/schemas.py
  authenticity_product/services/http/entrypoint.py
  authenticity_product/services/http/entrypoint_unites.py
Due: pydoc, pylint

init
  Pipfile
  Pipfile.lock
Due: none

init
  authenticity_product/models.py
  authenticity_product/schemas.py
  authenticity_product/services/http/entrypoint.py
  authenticity_product/services/http/entrypoint_unites.py
Due: pydoc, pylint

init
  authenticity_product/schemas.py
  authenticity_product/services/http/admin.py
  authenticity_product/services/http/entrypoint_unites.py
Due: pydoc, pylint

init
  authenticity_product/schemas.py
  authenticity_product/services/http/admin.py
  authenticity_product/services/http/entrypoint.py
  authenticity_product/services/http/entrypoint_unites.py
Due: pydoc, pylint

init
  authenticity_product/services/http/entrypoint.py
Due: pydoc, pylint

Update README.md
  README.md
Due: none

step repo
  Pipfile.lock
  authenticity_product/services/http/entrypoint_unites.py
  tests/.test.env
  tests/conftest.py
  tests/models/test_unit.py
  tests/services/http/e2e_test.py
Due: pydoc, pylint

setup repo update model
  authenticity_product/models.py
  authenticity_product/schemas.py
  tests/services/http/e2e_test.py
Due: pydoc, pylint

setup project update pipfile
  Pipfile
  Pipfile.lock
Due: none
